* {
    margin: 0px ;
    padding: 0px ;
}
.header {
    width: 100%;
    height: 1100px;
    background-size: cover;
    background-image: url(./img/header.PNG) ;
}
.top-hd {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}
#top-hd-left {
    font-size: 20px;
    font-weight: bold;
    color: rgb(175, 175, 175);
}
.top-hd-right {
    display: flex;
    flex-direction: row;
}
.top-hd-right p {
    font-size: 15px;
    font-weight: bold;
    color: rgb(175, 175, 175);
    padding-left: 50px;
}
.top-hd-right p:hover {
    cursor: pointer;
    color: rgb(194, 194, 194);
}
.hd-mid {
    padding-top: 200px;
    text-align: center;
    
}
.hd-mid p:first-child {
    font-size: 110px;
    letter-spacing: 20px;
    background: linear-gradient(to right bottom, white, black);
    color: transparent;
    -webkit-background-clip: text;
}
.hd-mid p:nth-child(2) {
    font-size: 20px;
    background: linear-gradient(to right bottom, white, black);
    color: transparent;
    -webkit-background-clip: text;
}
.hd-mid input {
    margin-top: 80px;
    width: 180px;
    height: 60px;
    background-color: rgb(51, 196, 184);
    font-weight: bold;
    color: white;
    border: 3px;
    border-radius: 5px;
}
.top-mid {
    background-color: black;
    width: 100%;
    height: 850px;
    text-align: center;
}
.top-mid p:first-child {
    color: white;
    padding-top: 380px;
    font-size: 35px;
}
.top-mid p:last-child {
    padding-top: 25px;
    line-height: 30px;
    color: gray;
}
#blue-text {
    color:rgb(93, 182, 152);
    text-decoration: underline;
}
#blue-text:hover {
    cursor: pointer;
    color:rgb(72, 139, 117);
    text-decoration: underline;
}
.bottom-mid {
    height: 1700px;
}
.main-mid {
    padding: 100px 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
.mid-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 180px 0 180px 0;
    padding-left: 50px;
    text-align: center;
    border-left: solid 10px rgb(2, 146, 98) ;
    padding-bottom: 50px;
}
.main-mid img {
    width: 700px;
}
.mid {
    width: 100%;
    height: 2000px;
}
.mid-text p:first-child {
    font-size: 25px;
    padding-bottom: 25px;
}
.mid-content {
    height: 400px;
    padding: 0px 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content-text {
    width: 565px;
    text-align:center;
    background-color: black;
}
.content-text p:first-child {
    padding-top: 150px;
    color: white;
    font-size: 25px;
}
.content-text p:last-child {
    padding-top: 25px;
    color: gray;
    font-size: 15px;
}
.bottom {
    background-image: url(./img/bottom.PNG) ;
    background-size: cover ;
    width: 100%;
    height: 900px;
    text-align: center;
}
.bottom img {
    padding-top: 100px;
}
.bottom p:nth-child(2) {
    font-size: 40px;
    color: white;
}
.bt-btn {
    padding-top: 50px;
}
.bt-btn input:first-child {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
}
.bt-btn input:last-child {
    background-color: rgba(0, 143, 95, 0.562);
    color: white;
    width: 150px;
    margin-left: 25px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
}
.bt-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bt-contents {
    margin-top: 180px;
    margin-left: 30px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    border-bottom: solid 5px rgb(0, 143, 95);
    align-items: center;
}
.bt-contents img {
    padding-top: 50px;
}
.bt-contents p:nth-child(2) {
    padding-top: 15px;
    font-size: 15px;
    color: black;
}
.bt-contents p:nth-child(3) {
    padding-top: 45px;
    font-size: 15px;
    color: black;
}